.margin-list .row {
	margin-top: 10px;
}

.margin-horizontal {
	margin-right: 10px
}

.margin-bottom {
	margin-bottom: 10px
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
	border: 1px solid red;
}